/** Mostly mobile first design. */

:root {
    --prim-accent-color: #50667A; /* Metal grey */
    --secon-accent-color: #242636; /* Dark purple */
    --text-color: #342F2D; /* Dark grey */
    --prim-bg-color: #f4f4f4; /* Off white */
    --lite-bg-color: white;
    --navbar-height: 70px;
}

/** 
 * CSS trick for avoiding header overlapping
 * content for menu anchors.
 *
 * From Adrian Garner on Stack Overflow 
 *
 * https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors 
 */
 :target::before {
    content: "";
    display: block;
    height: var(--navbar-height); /* Fixed header height for this page. */
    margin: -var(--navbar-height) 0 0; /* To compensate for a huge space at the top. */
}

body {
    padding: 0;
    margin: 0;
    background: var(--prim-bg-color);
    width: 100%;
}


/* Stop horizontal scroll on entire page. Rows is important. */

body,
.row {
    overflow-x: hidden;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
}

.btn:hover {
    opacity: 75%;
}

nav {
    padding: 1em;
    margin-bottom: 0 !important;
}

.navbar {
    display: flex;
    background: var(--prim-accent-color);
}

.nav-link,
.navbar-brand {
    color: var(--prim-bg-color);
    cursor: pointer;
}


/* Manual grid version mlc
.navbar-brand {
    position: absolute;
    left: 5px;
    float: none;
}
*/

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: var(--prim-bg-color);
    color: var(--prim-accent-color);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: var(--prim-accent-color) !important;
}

ul {
    list-style: none;
}

.bg-dark {
    background-color: var(--prim-accent-color)!important
}

.bg-primary {
    background-color: var(--prim-bg-color)!important
}


/* Manual grid version mlc
#navbarSupportedContent {
    width: 50%;
    display: grid;
    grid-template-columns: 75% auto;
    place-items: center;
}

.navbar-nav {
    float: none !important;
}
*/


/** Header */

.header {
    position: relative;
    background-image: url('../images/bali-nyuh-kuning-cafe-laptop-coffee-768w.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 0;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.85);
}

.description {
    position: absolute;
    /*top: 20%;*/
    margin: 15% auto;
    padding: 2em;
}

.description h1 {
    color: var(--prim-accent-color);
}

.description p {
    color: var(--secon-accent-color);
    width: 75%;
    line-height: 1.5;
}

.about {
    margin: 3em 0;
    padding: 1em 0;
    position: relative;
}

.about h1 {
    color: var(--prim-accent-color);
    margin: 2em;
}

.about img {
    width: 270px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.about span {
    display: block;
    color: var(--text-color);
}

.about .desc {
    padding: 2em;
    border-left: 4px solid var(--secon-accent-color);
}

.about .desc h3 {
    color: var(--secon-accent-color);
}

.about .desc p {
    line-height: 2;
    color: var(--text-color);
}


/** Portfolio */

.portfolio {
    margin: 3em 0;
    padding: 1em 0;
    position: relative;
}

.portfolio h1 {
    color: var(--prim-accent-color);
    margin: 2em;
}

.portfolio img {
    width: 300px;
    margin: 1em;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.portfolio__title {
    text-align: center;
}


/** Content */

.content {
    margin: 4em 0;
    position: relative;
}

.content h1 {
    color: var(--prim-accent-color);
    margin: 2em;
}

.content .card {
    box-shadow: 0 0 20px var(--lite-bg-color);
}

.content .card img {
    width: 300px;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.content .card-title {
    color: var(--prim-accent-color);
}

.content .card-body {
    padding: 1em;
}


/** Team */

.team {
    margin: 3em 0;
    padding-bottom: 1em;
    position: relative;
    border: 1px solid var(--prim-bg-color);
}

.team h1 {
    color: var(--prim-accent-color);
    margin: 2em;
}

.team .item {
    position: relative;
    overflow: hidden;
}

.team img {
    width: 270px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}


/** Card */

.card {
    padding: 1% 0;
    margin-bottom: 2em;
}


/* Force center justify. mlc */

form {
    width: 75%;
    margin: 0 auto;
}

.contact-form {
    /* On mobile make space before footer. */
    margin-bottom: 6em;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: var(--prim-accent-color);
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: var(--prim-accent-color);
    color: white;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: var(--text-color);
    font-size: 16px;
}

footer {
    background-color: var(--lite-bg-color);
    /* Make space for to top button on mobile. */
    padding: 1em 0.5em 5em 0.5em;
}

/* Credits */

#credits {
    font-size: 0.75em;
}

/** Utilities */

/* Force justify to the center. mlc */

.row--justify-center {
    width: 75%;
    margin: 0 auto;
}


/* Indent a list. mlc */

.ul--indent {
    margin-left: 3%;
}


/* Manual flex version mlc */

.row--flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* For xs screens keep the space around. */
    flex-wrap: wrap;
}

.footer__content {
    margin: 0 1em;
}


/* Alternate bg colours for contrast. mlc */

#portfolio,
#team {
    background-color: var(--lite-bg-color);
}

#portfolio img {
    border-radius: 5px;
}

/** Media queries mlc */

/* Medium screens and larger. */

@media (min-width: 1024px) {
    /* Breakpoint for fixed top nav. */
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    /* Offset for a fixed navbar. */
    .header {
        margin-top: var(--navbar-height);
        background-image: url('../images/bali-nyuh-kuning-cafe-laptop-coffee-1920w.webp');
    }
    /* Top offset for hero description text. */
    .description {
        top: 30%;
        margin: auto;
    }
    
    /* Increase contact form margins on wider screens. */
    .contact-form {
        margin: 6em 0;
    }

    footer {
        padding: 1em 1em 2em 1em;
    }
}

@media (max-width: 1023px) {
    /* Breakpoint for non fixed top nav. */
    .fixed-top {
        position: relative;
    }
}

@media (max-width: 1023px) and (orientation:landscape) {
    /* Adjust top space for hero description on landscape. */
    .description {
        top: 10%;
        margin: auto;
    }
}


/* Footer spacing for everything except small screens. */

@media (min-width: 376px) {
    /* With larger screens speace evenly for centering. mlc */
    .row--flex-start {
        justify-content: space-evenly;
    }
}

/* For wider screens, the cards don't need a bottom margin. */

@media (min-width: 768px) {
    .card {
        margin-bottom: 0;
    }
}


/* Small screens in portrait. */

@media (max-width: 375px) and (orientation:portrait) {
    /* This allows landscape grids to be nx2. mlc */
    .col-xs-6 {
        width: 100%;
    }
}
